@mixin input {
  background: transparent;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  width: 100%;
  outline: none;
  margin-bottom: 2rem;
  color: white;
}

.contact {
  &__input {
    @include input;
  }
  &__textarea {
    @include input;
    resize: none;
    min-height: 120px;
  }
}
