.about {
  position: relative;
  transform: translateY(-10px);
  &__sub-header {
    font-size: 2rem;
    position: relative;
    z-index: 1;
    font-weight: 500;
    opacity: 0;
    animation: text-about 1s forwards;
    animation-delay: 1s;
    @media (max-width: 1200px) {
      font-size: 1.7rem;
    }
    @media (max-width: 992px) {
      font-size: 1.4rem;
    }
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
    @media (max-width: 430px) {
      font-size: 1.1rem;
    }
  }
  &__header {
    font-size: 2.5rem;
    line-height: 5.5rem;
    position: relative;
    z-index: 1;
    font-weight: bold;
    opacity: 0;
    animation: text-about 1s forwards;
    animation-delay: 1s;
    @media (max-width: 1200px) {
      font-size: 2.2rem;
    }
    @media (max-width: 992px) {
      font-size: 2rem;
    }
    @media (max-width: 430px) {
      font-size: 1.7rem;
      line-height: 3.5rem;
    }
  }
  &__background {
    position: absolute;
    width: calc(100% + 5%);
    height: calc(100% + 20%);
    background: rgba($color: #000000, $alpha: 0.2);
    border-radius: 8px;
    padding: 1rem;
    left: -3%;
    z-index: 0;
    animation: background-anim 2s forwards;
  }
}

@keyframes background-anim {
  from {
    top: -310%;
    filter: contrast(0);
    background: rgba($color: #000000, $alpha: 0.7);
  }
  50% {
    top: -10%;
  }
  to {
    top: -10%;
    background: rgba($color: #000000, $alpha: 0.2);

    filter: contrast(0.5);
  }
}

@keyframes text-about {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
