.about {
  position: relative;
  transform: translateY(-10px);
  &__sub-header {
    font-size: 2rem;
    position: relative;
    z-index: 1;
    font-weight: 500;
  }
  &__header {
    font-size: 2.5rem;
    line-height: 5.5rem;
    position: relative;
    z-index: 1;
    font-weight: bold;
  }
  &__background {
    position: absolute;
    width: calc(100% + 3%);
    height: calc(100% + 3%);
    background: rgba($color: #000000, $alpha: 0.2);
    top: -10%;
    border-radius: 8px;
    padding: 1rem;
    left: -3%;
    z-index: 0;
    // filter: blur(2px);
    filter: contrast(0.5);
  }
}
