.quote {
  background: url("../images/background2.jpeg") center/cover no-repeat;
  background-attachment: fixed;
  height: 300px;
  position: relative;
  margin-top: 5px;
  @media (max-width: 768px) {
    height: 200px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__text {
    max-width: 700px;
    color: white;
    font-weight: bold;
    line-height: 1.9rem;
    font-size: 1.6rem;
    text-shadow: 0 4px 4px #6d6767;
    display: inline-block;
    text-align: center;
    @media (max-width: 500px) {
      font-size: 1.3rem;
    }
  }
  &__author {
    position: absolute;
    bottom: 35px;
    right: 153px;
    color: white;
    font-weight: bold;
    line-height: 1.9rem;
    font-size: 1.6rem;
    text-shadow: 0 4px 4px #6d6767;
    display: inline-block;
    text-align: center;
    @media (max-width: 768px) {
      bottom: 20px;
      right: 45px;
    }
    @media (max-width: 500px) {
      font-size: 1.3rem;
      right: 25px;
    }
  }
}
