.what-i-do {
  padding-top: var(--section-indent);
  &__text-content {
    color: white;
    max-width: 742px;
    text-align: center;
    margin: var(--content-indent) auto 0;
    position: relative;
    font-size: var(--font-size-content);
    letter-spacing: 1px;
    padding: 1.5rem;
    opacity: 0;
    line-height: 128%;
    transition: 7s ease;
    &::before {
      content: url("../images/WhatIDo/corner.png");
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after {
      content: url("../images/WhatIDo/corner.png");
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
    @media (max-width: 992px) {
      max-width: 560px;
    }
  }
  &__text-content-anim {
    opacity: 1;
  }
}
