@import "../../../variables.scss";

.what-i-do {
  padding-top: $section-indent;
  &__text-content {
    color: $text-color;
    max-width: 742px;
    text-align: center;
    margin: $content-indent auto 0;
    position: relative;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 1.5rem;
    line-height: 128%;
    &::before {
      content: url("../images/WhatIDo/corner.png");
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after {
      content: url("../images/WhatIDo/corner.png");
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }
}
