.section-header {
  margin: 0 auto;
  text-align: center;
  &__header {
    font-size: 2rem;
    font-weight: bold;
    color: #f8eeee;
    transition: 1s ease;
    opacity: 0;
    transform: translateY(100%);
    &--active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__divider {
    width: 300px;
    height: 1px;
    display: block;
    background: #f3f1f1;
    margin: 1rem auto;
  }
  &__subtitle {
    display: inline-block;
    max-width: 560px;
    color: rgba($color: #aea6a6, $alpha: 0.73);
    font-size: 0.8rem;
    transition: 1s ease;
    opacity: 0;
    transform: translateY(-100%);
    &--active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
