.footer {
  color: white;
  text-align: center;
  margin-top: 1rem;

  &__txt {
    font-size: 1.2rem;
    display: inline;
    margin-right: 1rem;
  }
  &__icon {
    display: inline-block;
    animation: pulse-heart 1s infinite forwards;

    transition: 5s ease;

    & > svg > path {
      fill: transparent;
    }
  }
  &__copyright {
    margin: 1.5rem 0;
  }
}

.like {
  & > svg > path {
    transition: 5s ease;
    fill: #d61d1d;
  }
}

@keyframes pulse-heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
