.footer {
  text-align: center;
  color: white;
  &__header {
    margin-top: var(--content-indent);
    font-weight: bold;
    font-size: 1.8rem;
  }
  &__sub-header {
    margin: 1.5rem auto;
    max-width: 300px;
    line-height: 2rem;
    font-size: 1.4rem;
  }
  &__icons {
    & > a:not(:last-child) {
      margin-right: 30px;
    }
    & > a {
      border: none;
    }
    margin-bottom: var(--content-indent);
  }
}
