@import "reset-css";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

@import "./variables.scss";

:root {
  --backdrop-hidden: none;
  --section-indent: 5rem;
  --content-indent: 2.5rem;
}

html {
  font-family: Comfortaa, "sans-serif";
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  background: #232121;
}

button,
a {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1e9ce3;
  padding-bottom: 0.2rem;
  color: #1e9ce3;
}
